# Ignore these files
*.suo
*.tlog
*.log
*.pdb
*.ilk
*.exp
*.idb
*.obj
*.pch
*.ipch
*.db
*.opendb
*.user
*.cproject
*.project
*.directory
*.settings
*.maintenance
*.cmake
*.vcxproj
*.filters
*.sln
*.a
*.vs
GameEngine
Makefile
CMakeCache.txt
compile_commands.json
CMakeSettings.json
**/Debug/
**/debug/
**/Release/
**/release/
**/GeneratedFiles/
**/Build/
**/build/
**/CMakeFiles/
**/out/
**/_deps/
